<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="~/" alt=""> 
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;"> Thông tin tài khoản</a></li>
                        <li ><a href="javascript:;" class="btn-sign-out" ><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>
<script>
    jQuery(document)
        .ready(function() {
            $(document).on("click",".btn-sign-out",function () {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Admin/LogOut",
                    success :function() {
                        window.location.href = "/Admin/LoginAdmin";
                    },
                    error: function (req, status, error) {
                    }
                });
            });
        });
</script>