<div class="row editsection">
    <form id="surveyDescriptionForm" autocomplete="off">
        <div class="surveyDescriptionSettings col-md-12 col-xs-12 col-sm-12">
            <label class="surveyTitleLabel col-md-6 col-sm-6 col-cs-12" for="surveyTitle">
                Survey Description
            </label>

            <input id="description" name="surveyDescription" type="text" class="desTitle" value="" maxlength="250">
            <div class="buttons">
                <a class="btn btn-info" id="btn-save-des">Lưu</a>
                <a class="btn btn-warning" id="btn-cancel-des">Hủy</a>
            </div>
        </div>


    </form>
</div>
