<div class="row editsection">
    <form id="surveyTitleForm">
        <div class="surveyTitleSettings col-md-12 col-xs-12 col-sm-12">
            <label class="surveyTitleLabel col-md-6 col-sm-6 col-cs-12" for="surveyTitle">
                Survey Title
            </label>

            <input id="surveyNickname" name="surveyNickname" type="text" class="nameTitle" value="" maxlength="250">

            <span class="ttp">You're good up to <strong>250</strong> characters.<b></b></span>
            <span class="err">Your survey needs a name</span>


            <div class="buttons">
                <a class="btn btn-warning" id="btn-cancel-title">Hủy</a>
                <a class="btn btn-info " id="btn-save-title">Lưu</a>
            </div>
        </div>
    </form>
</div>