
<div class="question-container">
    <div class="question-single-choice-radio">
        <fieldset class=" question-fieldset" data-radio-button-group>
            <h4 id="question-title-71886289" class="question-title-container">
                <span class="question-number notranslate">
                    1<span class="question-dot">.</span>
                </span>
                <span class="user-generated notranslate">bạn cao bao nhi&ecirc;u m&eacute;t?</span>
            </h4>
            <div class="question-body clearfix notranslate ">
                <div class="">
                    <div class="answer-option-cell">
                        <div data-sm-radio-button class="radio-button-container">
                            <input id="71886289_570929185"
                                   name="71886289"
                                   type="radio"
                                   class="radio-button-input"
                                   value="570929185" />
                            <label data-sm-radio-button-label
                                   class="answer-label radio-button-label no-touch touch-sensitive clearfix"
                                   for="71886289_570929185">
                                <span class="radio-button-display"></span>
                                <span class="radio-button-label-text question-body-font-theme user-generated">
                                    1m3

                                </span>
                            </label>
                        </div>

                    </div>
                    <div class="answer-option-cell">
                        <div data-sm-radio-button class="radio-button-container">
                            <input id="71886289_570929186"
                                   name="71886289"
                                   type="radio"
                                   class="radio-button-input"
                                   value="570929186" />
                            <label data-sm-radio-button-label
                                   class="answer-label radio-button-label no-touch touch-sensitive clearfix"
                                   for="71886289_570929186">
                                <span class="radio-button-display"></span>
                                <span class="radio-button-label-text question-body-font-theme user-generated">
                                    1m4

                                </span>
                            </label>
                        </div>

                    </div>
                    <div class="answer-option-cell">
                        <div data-sm-radio-button class="radio-button-container">
                            <input id="71886289_570929187"
                                   name="71886289"
                                   type="radio"
                                   class="radio-button-input"
                                   value="570929187" />
                            <label data-sm-radio-button-label
                                   class="answer-label radio-button-label no-touch touch-sensitive clearfix"
                                   for="71886289_570929187">
                                <span class="radio-button-display"></span>
                                <span class="radio-button-label-text question-body-font-theme user-generated">
                                    1m7

                                </span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
