<div class="question-row">
    <div class="model" id="1">
        @Html.Partial("_multipleChoiceQuesModel")
    </div>
    <div class="edit hide" id="1">
        @Html.Partial("_multipleChoiceQuesEdit")
    </div>
</div>
