<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Danh mục </h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-users"></i> Quản lý tài khoản </a>
                <ul class="nav child_menu"></ul>
            </li>
            <li>
                <a><i class="fa fa-user-plus"></i> Quản lý phân quyền </a>
                <ul class="nav child_menu"></ul>
            </li>
            <li>
                <a><i class="fa fa-list-ol"></i> Quản lý danh mục <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a><i class=""></i>Quản lý loại bảng hỏi</a></li>
                    <li><a><i class=""></i>Quản lý loại câu hỏi</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-sitemap "></i> Cài đăt hệ thống <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a><i class=""></i>Cài đặt trang chủ</a></li>
                    <li><a><i class=""></i>Cài đặt hình ảnh</a></li>
                </ul>
            </li>
            
        </ul>
    </div>

</div>
