
<div class="survey-page-description  row hoverable" title="Nhấn để sửa mô tả survey">
    <div class="survey-description-container  col-md-10 col-sm-10 col-xs-12">
        <p class="survey-description"> + Nhập tiêu đề cho bảng hỏi </p>
    </div>
    <div class="editingbtn hidden  col-md-2 col-sm-2 col-xs-12">
        <button class="btn btn-primary edibtn">Sửa</button>
    </div>
</div>