<div class="upload-container modal fade" id="uploadForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="header-form col-md-12 col-sm-12 col-xs-12">
        <p class="header-title-upload">
            Thêm ảnh
            <span class="close-form" data-dismiss="modal"><i class="fa fa-close" ></i></span>
        </p>
    </div>
    <div class="main-form-upload">
        <div class="upload-panel">
            <div class="inner-upload-area">
                <div class="icon-upload">
                    <i class="fa fa-cloud-upload"></i>
                </div>
                <div class="drag-drop-area">
                    <p>Kéo thả ảnh vào đây!</p>
                </div>
                <div class="upload-area">
                    <label class="p"  for="upload-img">Bạn có thể tải ảnh từ máy tính</label> 
                    <input type="file" id="upload-img" name="btnUpload" accept="image/gif, image/jpeg, image/png" />
                </div>
            </div>
        </div>
    </div>
</div>

