<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6 header-left">
                <div class="row">
                    <div class="logo col-md-12  col-sm-12 col-xs-12">
                        <a href="/Home" title="Logo" rel="home">
                            <img src="~/Images/logo.png" class="img-responsive logo-img" alt="Universe">
                        </a>
                    </div>
                    @*<div class="slogan col-md-6 col-xs-6 col-sm-6  ">
                            <a href="/Home" title="" rel="home">
                                <span>Survey Online</span>
                            </a>
                        </div>*@
                </div> <!-- /.header-left -->
            </div>
            <div class="col-md-push-1 col-md-5 col-sm-6 col-xs-12 header-right ">
                <div class="social col-md-12 visible-md visible-sm visible-lg">
                    <div class="row">
                        @*<a class="btn col-md-6 col-xs-6 btn-social btn-dropbox btn-connect visible-md visible-sm visible-lg" href="" data-toggle="modal" data-target="#formModal">
                            <i class="fa fa-sign-in"></i> Đăng nhập
                        </a>
                        <a class="btn col-md-6 col-xs-6 btn-social btn-tumblr  btn-connect visible-md visible-sm visible-lg" href="/Account/Register">
                            <i class="fa fa-user-circle"></i> Đăng ký
                        </a>
                        <a class="btn col-md-6 col-xs-6 btn-social btn-facebook btn-connect visible-md visible-sm visible-lg ">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>

                        <a class="btn col-md-6 col-xs-6 btn-social btn-google-plus btn-connect visible-md visible-sm visible-lg">
                            <i class="fa fa-google-plus"></i>  Google
                        </a>*@
                        <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="fa fa-user-circle-o"></i> <span class="username"> Thi Luu </span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Xem tài khoản</a></li>
                                    <li><a tabindex="-1" href="#">Đăng xuất</a></li>
                                </ul>
                            </div>

                    </div>
                </div>

                <div class="social col-xs-12 visible-xs">
                    <div class="row">
                        <ul>
                            <li class="icon-social col-xs-3">
                                <a class="btn btn-dropbox visible-xs btn-connect1 " data-toggle="modal" data-target="#formModal"><i class="fa fa-sign-in"></i></a>
                            </li>
                            <li class="icon-social col-xs-3">
                                <a class="btn  btn-tumblr visible-xs btn-connect1"><i class="fa fa-user-circle"></i></a>
                            </li>
                            <li class="icon-social col-xs-3">
                                <a class="btn btn-facebook visible-xs btn-connect1 "><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="icon-social col-xs-3">
                                <a class="btn btn-google-plus visible-xs btn-connect1"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul>
                        @*<a class="btn btn-social-icon btn-dropbox visible-xs btn-connect1 col-xs-3" data-toggle="modal" data-target="#formModal"><i class="fa fa-sign-in"></i></a>
                            <a class="btn btn-social-icon btn-tumblr visible-xs btn-connect1 col-xs-3"><i class="fa fa-user-circle"></i></a>


                            <a class="btn btn-social-icon btn-facebook visible-xs btn-connect1 col-xs-3"><i class="fa fa-facebook"></i></a>
                            <a class="btn btn-social-icon btn-google-plus visible-xs btn-connect1 col-xs-3"><i class="fa fa-google-plus"></i></a>*@
                    </div>
                </div>
            </div> <!-- /.header-right -->
        </div>
    </div>
</div>



