<div class="top col-md-12 col-xs-12">
    <div class="container">
        <div class="col-md-6 col-xs-12 addr">
            <h4><i class="fa fa-address-book"></i>ADDRESS</h4>
            <p>55 Giai Phong Street,<br>hanoi Vietnam</p>
        </div>
        <div class="col-md-6 col-xs-12 contact">
            <h4><i class="fa fa-phone"></i>CONTACT</h4>
            <p>
                Tel: +61 123-456-7890
                <br>Mail: nuce@example.com
            </p>
        </div>
    </div>
</div>

