
<div class="navbar-header visible-xs" style="background-color: #01a2a6;">
    <a href="/Home" title="Logo" rel="home">
        <img src="~/Images/logo.png" class="img-responsive logo-img" alt="Universe">
    </a>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
        <i class="fa fa-bars"></i>
    </button>
</div>
<div class="collapse collapse-li menu-responsive"  id="collapse">
    <ul style="background-color: #01a2a6; padding: 0;text-align: center;">
        <li><a href="/Home"><span class="fa fa-home"></span>Trang chủ</a></li>
        <li><a href="/Intro"><span class="fa fa-info"></span>Giới thiệu</a></li>
        <li data-toggle="modal" data-target="#formModal"><a href="" ><span class="fa fa-sign-in"></span>Đăng nhập</a></li>
        <li><a href="/"><span class="fa fa-user"></span>Đăng ký</a></li>
    </ul>
</div> 