@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Views/Shared/_rootAdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_content">
            <div class="market-updates">
                <h2>Xin chào Admin</h2>
            </div>
        </div>
    </div>
</div>